<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rzico.oilapp.mapper.ManagerMapper">
<resultMap id="ManagerMap" type="com.rzico.oilapp.entity.Manager">
    <!---->
    <result column="id" property="id"/>
    <!--创建日期-->
    <result column="create_date" property="createDate"/>
    <!--修改日期-->
    <result column="modify_date" property="modifyDate"/>
    <!--客户经理-->
    <result column="name" property="name"/>
    <!--联系电话-->
    <result column="phone" property="phone"/>
    <!--状态(0.待审核,1.已审核,2.已驳回)-->
    <result column="status" property="status"/>
    <!--审核说明-->
    <result column="msg" property="msg"/>
    <!--供应商ID-->
    <result column="customer_id" property="customerId"/>
</resultMap>
    <!--列信息-->
    <sql id="column_list">
        id,create_date,modify_date,name,phone,status,msg,customer_id
    </sql>
    <!--动态条件-->
    <sql id="where_filters">
        <where>
            <if test="id !=null">
                AND id=#{id}
            </if>
            <if test="createDate !=null">
                AND create_date=#{createDate}
            </if>
            <if test="modifyDate !=null">
                AND modify_date=#{modifyDate}
            </if>
            <if test="name !=null">
                AND name=#{name}
            </if>
            <if test="phone !=null">
                AND phone=#{phone}
            </if>
            <if test="keyword !=null">
                AND name like concat('%',#{keyword},'%')
            </if>
            <if test="status !=null">
                AND status=#{status}
            </if>
            <if test="msg !=null">
                AND msg=#{msg}
            </if>
            <if test="customerId !=null">
                AND customer_id=#{customerId}
            </if>
        </where>
    </sql>

    <select id="selectList" parameterType="map" resultMap="ManagerMap">
        select
        <include refid="column_list"/>
        from wx_manager
        <include refid="where_filters"/>
        <if test="sortField != null and sortField != ''">
            ORDER BY ${sortField}
            <if test="sortType != null and sortType != ''">
            ${sortType}
            </if>
        </if>
    </select>

    <select id="selectRowCount" parameterType="map" resultType="java.lang.Integer">
        select
          count(*)
        from wx_manager
        <include refid="where_filters"/>
    </select>


</mapper>